@import url("https://use.typekit.net/eug8bqj.css");

.navlinks{
    color:white; 
    font-family: 'brandon-grotesque';
    font-size: 22px;
    font-weight:600;
    margin:0 5px;
}

@media screen and (max-width:900px){
    .navlinks{
        color:#002139;
        font-size: 14px;
    }
}