@import url("https://use.typekit.net/eug8bqj.css");

a{
    color:white; 
    font-family: 'brandon-grotesque';
    font-size: 21px;
    font-weight:normal;
}

@media screen and (max-width:900px){
    a{
        color:#002139;
        font-size: 14px;
    }
}