@import url("https://use.typekit.net/eug8bqj.css");

.navlinks{
    color: #fff;
    font-family: brandon-grotesque;
    font-size: 21.5px;
    margin: 0 5px;
    opacity: 0.9;
    font-weight: 600;
}

@media screen and (max-width:900px){
    .navlinks{
        color:#002139;
        font-size: 14px;
    }
}